* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    margin: 16px 32px;
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    height: 900px;
    border: 3px solid black;
}

#main {
    display: flex;
    flex-direction: column;
    /* height: 400px;
    width: 100px; */
}

#main div {
    /* height: 100px;
    width: 100px; */
    border: 3px solid black;
    display: flex;
    flex-direction: column;
}

button {
    margin: 16px;
}



